.card-list {
    margin: 0;
    padding: 70px 70px 0 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px 24px;
}

.card-list__container {
    margin: 80px 0 80px;
    padding: 0 70px 0;
}

.card-list__button {
    margin: 0;
    padding: 11px 0 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 6px;
    background: #F9F9F9;
    cursor: pointer;
}